.fish-info {
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color:cadetblue;

}

.fishlist {
    background-color: gold;
    width: 250px;
    float: left;
    padding: 3em;

}

.img {
    width: 150px;
    height: 75px;
    float:center;
}

aside {
    float: right;
    border: 4px solid seagreen;
    background: beige;
    padding: 3em;
    width: 50px;
}

.harvest-locations {
    float: center;
    border: 4px solid blue;
    padding: 1em;
    background: yellow;
    display: flex;

}
.tank-care {
    display: flex;
    flex-direction: column;
    float: right;
}